#mainPage{
    display: flex;
    background-image: url(../TrackerLanding.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    
}
table {
  width: 100%;
  border-collapse: collapse;
  
}

th, td {
  border: 1px solid #000000;
  padding: 10px;
  
}

th {
  background: #f4f4f4;
  
}
td{
    text-decoration: white;
}

table tbody tr {
  color: yellow;
}